<div class="card23">

<mat-card  class="card33">
  <mat-card-content>
  	<div class="items">
  		<div class="items1">
  		<img [src]="image" width='100' height='100' style="border-radius: 10px;" />
  		<div class="text">
  			<p class="auction"><span>Live Auction</span><span><mat-icon> rss_feed </mat-icon></span></p>
  			<p style="font-weight: bold;">{{category}}</p>
  		</div>
  		<div class="list">
  			<p><span >Category: </span>{{category}}</p>
  			<p><span>Price: </span>{{price}}</p>
  			<p><span>Sales Type: </span>{{sale}}</p>
  		</div>
  		</div>
  		<div class="buttons">
  			<button  mat-raised-button color="primary">Bid now<mat-icon> gavel </mat-icon></button>
  			<button  mat-raised-button color="primary">Remove<mat-icon> clear </mat-icon></button>
  		</div>
  	</div>
  </mat-card-content>
</mat-card>

</div>
